<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whitespace.mydailyvuadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.whitespace.mydailyvuadmin.Activity.OnboardingActivity"></activity>
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.EditRoutine"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Modify_Routine.DetailsActivity"></activity>
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.DetailsActivity"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.AddClassSunday"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.AddClassMonday"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.AddClassTuesday"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.AddClassWednesday"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Modify_Routine.AddClassThursday"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Activity.FeedbackActivity"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity android:name="com.whitespace.mydailyvuadmin.Activity.AboutActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Activity.NotificationActivity"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />
        <activity android:name="com.whitespace.mydailyvuadmin.Authentication.ConfirmActivity" />
        <activity android:name="com.whitespace.mydailyvuadmin.Authentication.SignupActivity" />
        <activity android:name="com.whitespace.mydailyvuadmin.Authentication.LoginActivity" />
        <activity
            android:name="com.whitespace.mydailyvuadmin.Activity.RoutineActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whitespace.mydailyvuadmin.Routine_Settings.RoutineSettingsActivity"
            android:parentActivityName="com.whitespace.mydailyvuadmin.Activity.RoutineActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>